/*Стили цвета*/

:root {
    --secondary-text-color: #757575;
    --primary-text-color: #212121;
    --transparent-text: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
    --logo-text-color: #000000;
    --primary-white-color: #ffffff;
    --background-color: #2F303A;
    --background-color-secondary: #F5F4FA;
  }

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    font-weight: 400;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.2;
  }

  .logo {
    color: var(--logo-text-color);
    font-family: Raleway,sans-serif;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 26px;
    line-height: 1.2;

  }
  
  .revers-logo {
    color: var(--primary-white-color);
    background-color: var(--background-color);
    font-family: Raleway,sans-serif;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 26px;
    line-height: 1.2;
  }

  .logo span {color: var(--accent-color);}
  .revers-logo span {color: var(--accent-color);}

/*Site-nav* *address-nav*/
.site-nav .link
{color: var(--primary-text-color);
font-weight: 500;
letter-spacing: 0.02em;
}

.address-nav .link
{color: var(--secondary-text-color);
font-weight: 500;
letter-spacing: 0.02em;
}

.site-nav .link:hover, 
.site-nav .link:focus,
.address-nav .link:hover,
.address-nav .link:focus{
color: var(--accent-color);
}

.site-nav .link.current,
.address-nav .link.current{
    color: var(--accent-color);  
}


/*Футер*/

.page-footer {
    background-color: var(--background-color);
    
}
.mailto-footer,
.tel-footer {
    font-style: normal;
    color: var( --transparent-text);
    line-height: 1.75;
}

.address-footer {
  font-style: normal;
  color: var(--primary-white-color);
  line-height: 1.75;
}

.address-footer :hover,
.mailto-footer :hover,
.tel-footer :hover{
  color: var(--accent-color);
}

/* Формат списков и ссылок */
.list {list-style: none;}
a {text-decoration: none;}

/*Секция Герой*/
.hero {
    background-color: var(--background-color);
}
.hero-title {
    color: var(--primary-white-color);
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 0,06em;
    text-align: center;
}
/*Секция преимущества*/
.benefits.list h3 {
  text-transform: uppercase;
  font-weight: 700;
}
.benefits.list p{
color: var(--secondary-text-color);
line-height: 1.75;
}

/*Button*/
button {
  font-family: inherit;
  cursor: pointer;
  letter-spacing: 0.03em;
}

.button {
  color: var(--primary-text-color);
  background-color: var(--background-color-secondary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.button.activ {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button-primary {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;

}

/*Секции*/
.section-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    text-align: center;
  }
.section h3 {
color: var(--primary-text-color);
font-weight: 500;
font-size: 16px;
}
.section p {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  }
/*Секции портфолио*/
.portfolio-section h3 {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-section p {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  }


/*.section a:hover {
    background-color: var(--background-color-secondsry);
}*/

/*Особенности секции Преимущества*/

.benefits-list h3 {
  color: var(--primary-text-color);
  text-transform: uppercase;
}
.benefits-list p {
  color: var(--secondary-text-color);
}

/*Особенности секции Наша команда*/

.team.list h3,
.team.list p {
  text-align: center;
}

